.App {
  text-align: center;
}

.App-header {
  background-color: black;
  min-height: 100vh;


  display: grid;
  grid-template-areas: 
    "up up up up"
    "left main main right"
    "down down down down";

  justify-items: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  transition: background-color 2s;
}

.App-button {
  color:gray;
}

.UP {
  grid-area: up;
}

.DOWN {
  grid-area: down;
}
.LEFT {
  grid-area: left;
}

.RIGHT {
  grid-area: right;
}


.Active {
  color: red
}

img {
  width: 30%;
}